* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
html {
    font-size: 62.5%;
}

.calculatorContainer {
    margin: 15rem auto;
    width: 35%;
    height: 40rem;
    display: grid;
    grid-template-areas: 
    "cal cal cal equ"
    "nine eig sev equ"
    "six five four equ"
    "thr two one equ"
    "deci min mult clr"
    "plus divi schg pow";
    border: black 1px solid;
    
    
    
}

.calculatorContainer > * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: black solid 1px;
    font-size: 2rem;
}

.calculation {
    grid-area: cal;
    text-align: center;
}

.equalSign {
    grid-area: equ;
    background-color: black;
    color: whitesmoke;
}